body {
    font-family: Arial, sans-serif;
    background-color: rgba(130, 66, 155, 0.8);
    color: #4b0082;
}

.container {
    margin-top: 50px;
    text-align: left;
}

.card {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #d1d1ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4b0082;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container .btn {
    margin: 5px;
    width: 100%;
}

.tienda-btn {
    width: 25%;
}

@media (max-width: 768px) {
    .tienda-btn {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .card {
        width: 90%;
    }
}
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


