body {
    font-family: Arial, sans-serif;
    background-color: rgba(130, 66, 155, 0.8);
}

.container {
    margin-top: 50px;
    text-align: center;
}

.card {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d1d1ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4b0082;
    text-align: center;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container .btn {
    margin: 5px;
    width: 100%;
}