@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background: rgb(231, 231, 231);
    color: #4b0082;
}

.container {
    margin-top: 15px;
    text-align: center;
}

.card {
    width: 30%;
    margin: 20px auto;
    padding: 5px;
    background-color: #d1d1ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(81, 53, 84, 0.709);
    text-align: center;
}

h1 {
    color: #4b0082;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.button-container .btn {
    margin: 3px 0;
    width: 80%;
}

.btn-primary {
    background-color: #800080;
    border: none;
    border-radius: 5px;
    padding: 1px 2px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-primary:hover {
    background-color: #4b0082;
}

.btn-success {
    background-color: #4a074ab1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #703898;
}

.tienda-btn {
    width: 100%;
    max-width: 150px;
}

#logout-button {
    width: 100%;
    max-width: 150px;
}

@media (max-width: 768px) {
    .tienda-btn {
        width: 100%;
        max-width: 150px;
    }

    #logout-button {
        width: 100%;
        max-width: 150px;
    }
}

@media (max-width: 576px) {
    .card {
        width: 90%;
    }
}

.slider-container {
    background-color: rgb(169, 101, 214);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.561);
    padding-bottom: 20px;
}

.slider-container .img-box {
    border-radius: 10px;
    text-align: center;
}

.slider-image {
    width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    margin: auto;
}
