/* Estilos para la página de tienda */
aside {
    float: right;
    width: 30%;
}

.container {
    width: 70%; /* Ajusta el ancho del contenedor principal */
    float: left; /* Asegura que el contenedor principal no se superponga con el aside */
}

/* Estilos para el botón de cerrar sesión */
#cerrar-sesion-btn {
    float: right;
}
/* Estilos para la página de tienda */
.container {
    width: 70%;
    margin: 0 auto; /* Centra el contenedor */
}

.centered-table {
    margin: 0 auto; /* Centra la tabla */
}

.usuario-info {
    text-align: center; /* Centra el contenido del usuario-info */
}

.pagination {
    text-align: center; /* Centra la paginación */
    clear: both; /* Asegura que el footer no tape el contenido */
}

.footer {
    text-align: center; /* Centra el contenido del footer */
}