/* Estilos para la página de tienda */
aside {
    float: right;
    width: 30%;
}

.container {
    width: 70%; /* Ajusta el ancho del contenedor principal */
    float: left; /* Asegura que el contenedor principal no se superponga con el aside */
}

#cerrar-sesion-btn {
    float: right;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.centered-table {
    margin: 0 auto;
}

.usuario-info {
    text-align: center;
}

.pagination {
    text-align: center;
    clear: both;
}

.footer {
    text-align: center;
}
