<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
   
    <title>{% block titulo %}  {% endblock %}</title>
    {% block cabecera %} {% endblock %}
</head>
<style>
    a{
        text-decoration:none
    }
    .fixed-top-right {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1030; /* Asegura que esté por encima de otros elementos fijos */
      }
</style>
<body>
    {% block cuerpo %}
    {% endblock %}
    {% if user.is_authenticated %}
    <div class="fixed-top-right">
            <div class="text-center mt-4">
                <div class="container d-flex justify-content-center">
                    <form action="{% url 'tfg_ps_app:logout' %}" method="post">
                        {% csrf_token %}
                        <button id="logout-button" type="submit" class="btn btn-danger mt-1">Cerrar sesión</button>
                    </form>
                </div>
            </div>
      </div>      
    {% endif %}
    <footer class="fixed-bottom bg-dark text-white p-3">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 text-start">
                    <a href="https://github.com/FJAB1992" target="_blank" class="text-white">GitHub</a>
                </div>
                <div class="col-lg-6 text-end">
                    <a href="https://iesplayamar.es/" target="_blank" class="text-white">IES Playamar</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <p class="mb-0">Francisco J. Aranda Barba 2024 &reg;</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/check_session_status/')
                .then(response => response.json())
                .then(data => {
                    if (data.logged_in) {
                        document.getElementById('logout-button').style.display = 'block';
                    } else {
                        document.getElementById('logout-button').style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error al verificar el estado de la sesión:', error);
                });
        });
    </script>
</body>

</html>