{% extends "base_tfg.html" %}
{% load static %}

{% block titulo %}Detalle Objeto{% endblock %}

{% block cabecera %}
<link rel="stylesheet" href="{% static 'css/detalle_objeto.css' %}">
{% endblock %}
{% block header %}
<header class="relative-top text-white py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-6 col-lg-3 text-left">
                <img src="{% static '../static/img/umb.png' %}" class="img-fluid" style="max-width: 100px; margin-top: 2px;" alt="umbrella">
            </div>
            {% if user.is_authenticated %}
            <div class="d-none d-lg-block col-lg-6 text-center">
            </div>
            <div class="col-6 col-lg-3 text-end">
                <form action="{% url 'tfg_ps_app:logout' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button id="logout-button" type="submit" class="btn btn-danger btn-sm custom-btn">Cerrar sesión</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</header>
{% endblock %}
{% block cuerpo %}

<div class="container">
    <div class="absolute-top-left">
        <div class="text-center">
            <div class="container">
                <form action="{% url 'tfg_ps_app:tienda' %}" method="get">
                    <button id="volver-button" type="submit" class="btn btn-volver">Volver</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card bg-dark text-light p-2 mb-1">
        <h1 class="text-white"> Detalle del Objeto</h1>
    </div>
    <div class="card slider-container">
        <div class="card-body">
            <div class="text-left">
                <h5 class="card-title">
                    <span class="nombre-destacado">Nombre: </span>{{ objeto.nombre }}
                </h5>
                <p class="card-text">
                    <span class="nombre-destacado">Descripción: </span>{{ objeto.descripcion }}
                </p>
                <p class="card-text">
                    <span class="nombre-destacado">Precio: </span>{{ objeto.precio }}
                </p>
                <p class="card-text">
                    <span class="nombre-destacado">Tipo: </span>{{ objeto.tipo_objeto }}
                </p>
            </div>
            {% if objeto.url_imagen %}
            <div class="image-container img-box">
                <img src="{{ objeto.url_imagen }}" alt="{{ objeto.nombre }}" style="max-width: 400px;max-height: 400px;">
            </div>
            {% else %}
            <p>No hay imagen disponible.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
