{% extends "base_tfg.html" %}
{% load static %}
{% block titulo %}Inicio de sesión{% endblock %}
{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block cuerpo %}
<div class="container mt-4">
    <h2>Iniciar Sesión</h2>
    <div class="m-lg-5">
        <form method="post" class="needs-validation justify-content-center" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-lg-5" style="width: 50%; margin: 0 auto; display: block;">Iniciar Sesión</button>
        </form>
        <div class="link">
            <p>¿No tienes una cuenta? <a href="{% url 'tfg_ps_app:signup' %}">Regístrate aquí</a></p>
        </div>
    </div>
    <div>
        <a href="{% url 'tfg_ps_app:inicio' %}" class="btn btn-primary mt-lg-5" style="width: 50%; margin: 0 auto; display: block;">Inicio</a>
    </div>
</div>
{% if user.is_authenticated %}
<div class="text-center">
<a href="{% url 'tfg_ps_app:tienda' %}" class="btn btn-primary mt-4" style="width: 25%;">Tienda</a>
</div>
{% endif %}
{% endblock %}


