{% extends "base_tfg.html" %}
{% load static %}

{% block titulo %}Registro{% endblock %}

{% block cabecera %} 
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block cuerpo %}
<div class="container mt-4">
    <h2 class="text-center">Regístrate</h2>
    <div class="m-lg-5 text-center">
        <form method="post" class="needs-validation" novalidate style="margin: 0 auto; display: inline-block;">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center m-lg-5">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
        <p>¿Tienes una cuenta? <a href="{% url 'tfg_ps_app:login' %}">Inicia sesión</a></p>
        <div>
            <a href="{% url 'tfg_ps_app:inicio' %}" class="btn btn-primary mt-lg-5" style="width: 50%; margin: 0 auto; display: block;">Inicio</a>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div class="text-center">
<a href="{% url 'tfg_ps_app:tienda' %}" class="btn btn-primary mt-4" style="width: 25%;">Tienda</a>
</div>
{% endif %}
{% endblock %}
