{% extends "base_tfg.html" %}
{% load static %}

{% block titulo %}Tienda Online{% endblock %}

{% block cabecera %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block cuerpo %}
<h1>Inventario del {{ jugador.username }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {% for tipo in tipos %}
        <tr>
            <td colspan="5" style="text-align: center; background-color: lightgrey;"><strong>{{ tipo.tipo_objeto }}</strong></td>
        </tr>
        {% for item in tipo.inventario.all %}
        <tr>
            <td>{{ item.objeto.nombre }}</td>
            <td>{{ item.objeto.descripcion }}</td>
            <td>{{ item.objeto.precio }}</td>
            <td>{{ item.objeto.tipo_objeto }}</td>
            <td>
                {% if item.objeto.imagen %}
                <img src="{{ item.objeto.imagen.url }}" alt="{{ item.objeto.nombre }}" width="100">
                {% else %}
                No imagen disponible
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
